In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [5]:
1/2.

0.5

In [6]:
2 ** 4

16

In [7]:
2+3*5+5

22

In [8]:
(2+3)*(5+5)

50

In [9]:
4%2

0

In [10]:
5/2

2

In [11]:
5%2

1

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y = 3

In [15]:
x+y

5

In [16]:
x = x+x

In [17]:
x

4

In [18]:
x = x+x

In [19]:
x

8

In [20]:
# strings

In [21]:
'single quote'

'single quote'

In [22]:
"this is a string"

'this is a string'

In [23]:
"I can't go"

"I can't go"

In [24]:
x = 'hello'

In [25]:
x

'hello'

In [26]:
print(x)

hello

In [27]:
num = 12

In [28]:
name = 'Sam'

In [29]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [31]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [32]:
s = 'hello'

In [33]:
s[0]

'h'

In [34]:
s[4]

'o'

In [35]:
s = 'abcdefghijk'

In [36]:
s[0]

'a'

In [38]:
s[2:]

'cdefghijk'

In [39]:
s[:4]

'abcd'

In [40]:
s[0:3]

'abc'

In [42]:
s[3:6]

'def'

In [43]:
[1,2,3]

[1, 2, 3]

In [44]:
['a','b','c']

['a', 'b', 'c']

In [45]:
my_list = ['a','b','c']

In [46]:
my_list.append('d')

In [47]:
my_list

['a', 'b', 'c', 'd']

In [48]:
my_list[0]

'a'

In [49]:
my_list[1:3]

['b', 'c']

In [50]:
my_list[0] = "new"

In [51]:
my_list

['new', 'b', 'c', 'd']

In [52]:
nest = [1,2,[3,4]]

In [53]:
nest

[1, 2, [3, 4]]

In [54]:
nest[2]

[3, 4]

In [55]:
nest[2][1]

4

In [56]:
d = {'key1':'value','key2':123}

In [57]:
d[0]

KeyError: 0

In [58]:
d['key1']

'value'

In [59]:
d = {'k1':[1,2,3]}

In [61]:
d['k1'][0]

1

In [62]:
d = {'k1':{'innerkey':[1,2,3]}}

In [63]:
d['k1']['innerkey'][1]

2

In [64]:
True

True

In [65]:
False

False

In [66]:
my_list = [1,2,3]

In [67]:
t = (1,2,3)

In [68]:
t[1]

2

In [69]:
my_list[0] = "NEW"

In [70]:
my_list

['NEW', 2, 3]

In [71]:
t[0]

1

In [72]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [73]:
{1,2,3}

{1, 2, 3}

In [74]:
{1,1,2,3,4,1,2}

{1, 2, 3, 4}

In [75]:
set([1,2,3,1,1,1,2,3,])

{1, 2, 3}

In [76]:
set.add(5)

TypeError: descriptor 'add' requires a 'set' object but received a 'int'

In [77]:
set = {1,2,3}

In [78]:
set.add(5)

In [79]:
s

'abcdefghijk'

In [80]:
set

{1, 2, 3, 5}

In [81]:
set.add(2)

In [82]:
set

{1, 2, 3, 5}

In [83]:
seq = [1,2,3,4,5]

In [84]:
for item in seq:
    print(item)

1
2
3
4
5

In [88]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [90]:
for x in seq:
    print(x)

1
2
3
4
5

In [93]:
for x in xrange(0,10,2):
    print(x)

0
2
4
6
8

In [95]:
list(xrange(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
x = [1,2,3,4]

In [97]:
out = []

In [98]:
for num in x:
    out.append(num**2)

In [99]:
print(out)

[1, 4, 9, 16]

In [100]:
[num**2 for num in x]

[1, 4, 9, 16]

In [101]:
out = [num**2 for num in x]

In [102]:
print out

[1, 4, 9, 16]

In [107]:
def my_func(name='stupid'):
    print('hello '+name)

In [106]:
my_func('chris')

hello chris

In [109]:
my_func()

hello stupid

In [116]:
def square(num):
    """
    DOCUMENTATION
    
    Multiple lines
    """
    return num**2

In [117]:
square(3)

9

In [118]:
output = square(2)

In [119]:
print(output)

4

In [120]:
def times2(var):
    return var*2

In [121]:
times2(10)

20

In [122]:
seq = [1,2,3,4,5]

In [123]:
map(times2,seq)

[2, 4, 6, 8, 10]

In [124]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [125]:
filter(lambda num: num%2 == 0, seq)

[2, 4]

In [126]:
s = 'hello my name is Sam'

In [128]:
s.lower()

'hello my name is sam'

In [129]:
s.upper()

'HELLO MY NAME IS SAM'

In [130]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [131]:
tweet = "Go Splots! #Sports"

In [132]:
tweet.split('#')

['Go Splots! ', 'Sports']

In [133]:
d = {'k1': 1, 'k2':2}

In [134]:
d.keys()

['k2', 'k1']

In [135]:
d.items()

[('k2', 2), ('k1', 1)]

In [136]:
d.values()

[2, 1]

In [137]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [138]:
lst = [1,2,3]

In [139]:
lst.pop()

3

In [140]:
lst

[1, 2]

In [141]:
lst.pop(0)

1

In [142]:
lst

[2]

In [143]:
x in [1,2,3]

False

In [146]:
'x' in ['x','y','z']

True

In [148]:
x = [(1,2),(3,4),(5,6)]

In [149]:
x[0]

(1, 2)

In [150]:
for item in x:
    print item

(1, 2)
(3, 4)
(5, 6)

In [151]:
for (a,b) in x:
    print a

1
3
5